@media (prefers-color-scheme: dark) 
  /* 黑暗模式，深色主题 */
  html
    background-color: #1d1f21
    color: #929090
    text-shadow: 1px 1px 1px #000

@media (prefers-color-scheme: light)
  /* 浅色主题 */
  html
    background-color: #f0f0f3
    color: #666
    text-shadow: 1px 1px 1px #fff
