$primary = #f8807d
$secondary = #2879d0
$contrastText = #f1fcff
$white = #fff
$black = #000
$red = #AE1100
$Active = #ff2811

// light
$neuLightBackground = #f0f0f3
$neuLightInverseBg = rgba(0, 0, 0, 0.15)
$neuLightShadow = #AEAEC0
$neuLightPrimary = #474747
$neuLightTextDefault = #666
$neuLightTextSecondary = #BABECC
$neuLightTextPrimary = $primary
$neuLightTextActive = $Active
$neuLightTextShadow = $white

// dark
$neuDarkBackground = #1d1f21
$neuDarkInverseBg = rgba(255, 255, 255, 0.15)
$neuDarkShadow = #2b2b2d
$neuDarkPrimary = #f0f0f0
$neuDarkTextDefault = #b9b9b9
$neuDarkTextSecondary = #BABECC
$neuDarkTextPrimary = $priDarkmary
$neuDarkTextActive = $Active
$neuDarkTextShadow = $black
